

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Bira";
  src: url(../fonts/Bira.ttf);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Helvetica, sans-serif;
}

.wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: url(../images/header-bg.jpg) no-repeat top / cover;
  position: relative;
}

.header::before {
  position: absolute;
  content: '';
  left: 350px;
  bottom: -103px;
  background: url(../images/arrow.png) no-repeat;
  transform: rotate(180deg);
  cursor: pointer;
  width: 37px;
  height: 60px;
}

.header::after {
  position: absolute;
  content: '';
  right: 350px;
  bottom: -103px;
  background: url(../images/arrow.png) no-repeat;
  cursor: pointer;
  width: 37px;
  height: 60px;
}


.header .wrapper {
  display: flex;
  justify-content: flex-end;
}

.header__text {
  width: 360px;
  padding: 200px 0 200px;
}

.header__title {
  font-family: "Bira";
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.header__subtitle {
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  margin: 40px 0;
}

.header__btn {
  padding: 20px 30px;
  background: #f12078;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.header__slide {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -213px;
  left: 50%;
  transform: translate(-50%);
}



.slide {
  background: #fff;
  width: 220px;
  padding: 20px 20px 50px 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.slide__theme {
  margin-top: 15px;
  border-bottom: 2px solid #f12078;
  padding-bottom: 10px;
  margin-bottom: 16px;
}

.slide__theme span {
  font-weight: 700;
}

.slide__text {
  line-height: 16px;
  font-size: 12px;
  color: #5f5f5f;
}
